@font-face {
  font-family: Quirlycues;
  src: url(../fonts/Quirlycues.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Quirlycues, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  background-color: skyblue;
}
